# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
env/
.venv/

# VSCode settings (optional)
.vscode/

# Pytest cache
.pytest_cache/

# MyPy cache
.mypy_cache/

# Pydantic generated cache (optional)
.pdm.toml

# Environment variables
.env
.env.*

# IDEs and editors
.idea/
*.swp

# Logs
*.log

# Coverage reports
htmlcov/
.coverage
.coverage.*

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Unit test / coverage reports
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/

# Jupyter Notebook
.ipynb_checkpoints

# Docker
*.pid
*.db
*.sqlite3
docker-compose.override.yml

# FastAPI Static/Media folders
/staticfiles/
/media/

# Optional: Ignore SQLite or local database files
*.sqlite
*.sqlite3

# MacOS and Linux specific
.DS_Store
Thumbs.db
changes-teller.py